name: Docker Image CI

on:
  push:
    branches: [ "INT_REL1_44" ]
  pull_request:
    branches: [ "INT_REL1_44" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Railpack CLI
        run: |
          curl -sSL https://railpack.com/install.sh | sh
          export PATH="$HOME/.local/bin:$PATH"

      - name: Prepare Railpack build plan
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          railpack prepare . --plan-out ./railpack-plan.json --info-out ./railpack-info.json

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image to Docker Hub
        run: |
          export IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/wikiromandie"
          export TAG="${{ github.sha }}"

          docker buildx build \
            --build-arg BUILDKIT_SYNTAX="ghcr.io/railwayapp/railpack-frontend" \
            -f ./railpack-plan.json \
            --platform linux/amd64 \
            --tag "$IMAGE_NAME:$TAG" \
            --tag "$IMAGE_NAME:latest" \
            --push \
            .
